source ~/.vimrc.keymap

" ==== 表示設定 ====
"set laststatus=2
"set display=lastline

" ==== 検索設定 ====
set hlsearch
set incsearch
set ignorecase
set smartcase

" ==== コピー設定 ====
set clipboard=unnamed,autoselect

" ==== その他の設定 ====
"set surround

